<!DOCTYPE html>
<html>
<!-- <div class="container">
    <h2>Boi I wonder wut this is?</h2>
</div> -->
  <head>
    <title>dat banana bot</title>
    <% include ../partials/head.ejs %>
   </head>
<h1>dat banana bot</h1>
  <body>
    <% include ../partials/navbar.ejs %>
    <image src="https://cdn.discordapp.com/avatars/388476336777461770/e945ccbf3139d78252212ec3e1e9f27b.png"></image>
   <p>A multipurpose Discord bot coded in discord.py. Has everything your server ever needs.</p>

   <h3>Features include:</h3>
   <ul>
   <li><b>Starboard</b> - React to the most interesting messages with a star to get them on the channel.</li>
   <li><b>Music</b> - Search YouTube and directly play music with the most convenient panel to pause/play.</li>
   <li><b>Welcome/Leave/Ban Messages</b> - As the title says.</li>
   <li><b>IdioticAPI</b> - A cool API that gives customized pictures. Fun to play around with!</li>
   <li><b>Economy System</b> - Win points or lose 'em all!</li>
   <li><b>Autoroles</b> - Give a role on the member join</li>
   <li><b>Game Statistics</b> - For Clash Royale, Clash of Clans, and League of Legends.</li>
  </ul>
    <button><a href="https://discordapp.com/oauth2/authorize?client_id=388476336777461770&scope=bot&permissions=8">Invite me now!</a></button>
    
    <% include ../partials/scripts.ejs %>
  </body>
  
</html>