<!DOCTYPE html>
<html>
<!-- <div class="container">
    <h2>Boi I wonder wut this is?</h2>
</div> -->
  <head>
    <title>dat banana bot</title>
    <% include ../partials/head.ejs %>
   </head>
<h1>dat banana bot</h1>
<image src="https://cdn.discordapp.com/avatars/388476336777461770/e945ccbf3139d78252212ec3e1e9f27b.png"></image>
  <body>
    <% include ../partials/navbar.ejs %>
   <p>Do you need anything with the bot? Or even just for some fun?</p>
   <ul>
       <li>Bug</li>
       <li>Suggestion</li>
       <li>Issue</li>
       <li>Just to chill or have a gucci time</li>
   </ul>
   <p>You can ALWAYS join our support server for that!<br>Permanent invite link: https://discord.gg/3Nxb7yZ</p>

<iframe src="https://discordapp.com/widget?id=372526440324923393&theme=dark" width="350" height="500" allowtransparency="true"
    frameborder="0"></iframe>
<br>
<button>
    <a href="https://discord.gg/3Nxb7yZ">Join Discord</a>
</button>
  </body>
  
</html>